*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
*{background-color: #fdcc04;
}

nav {
    height: 80px;
    background: #fdcc04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a:hover {
    color:#fff;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.hero{
    background: #fdcc04;
    
}

h1 {
    color: #000;
    background-color: #fdcc04;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 20px;
}

textarea {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:focus-within {
    outline: none;
    border-color: #ffffff;
    border-width: 3px;

}

textarea:focus-within {
    outline: none;
    border-color: #ffffff;
    border-width: 3px;

}

button {
    padding: 10px 18px;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: flex;
    margin: auto;
}

button:hover {
    background:#fff;
    color:#000;
}
